# Instale os requerimentos para o projeto

!pip install requirements.txt

In [1]:
import pandas as pd
import yfinance as yf

invest_smart_data = pd.read_csv('../data/invest_smart.csv', sep=',')

# Vizualizando as primeiras linhas da tabela

In [2]:
invest_smart_data.head()

,ticket,percentage,price,has_in_wallet,percentage_in_value,number_of_quotes
0,ASAI3,5.0,14.37,True,250.0,17.0
1,VIVA3,5.0,25.08,False,250.0,10.0
2,VALE3,5.0,60.95,True,250.0,4.0
3,BPAC11,10.0,36.69,False,500.0,14.0
4,CPLE6,10.0,10.05,False,500.0,50.0

# Pegando cotacoes

In [3]:
def transform_sa(active):
    return active + '.SA'


tickets = invest_smart_data['ticket'].tolist()
for ticket in tickets:
    ticker_yahoo = yf.Ticker(transform_sa(ticket))
    data = ticker_yahoo.history()
    last_quote = data['Close'].iloc[-1]
    print(ticket, last_quote)

ASAI3 14.449999809265137
VIVA3 24.68000030517578
VALE3 60.04999923706055
BPAC11 37.290000915527344
CPLE6 9.75
CSAN3 16.010000228881836
ELET3 42.43000030517578
ITUB4 34.38999938964844
MILS3 13.5
MULT3 26.200000762939453
PETR4 36.2599983215332
RAPT4 12.649999618530273
VIVT3 50.59000015258789

# Adiciona a cotacao atual ao data frame

In [4]:
for ticket in tickets:
    invest_smart_data.loc[invest_smart_data.ticket == ticket, 'price'] = round(
        yf.Ticker(transform_sa(ticket)).history()['Close'].iloc[-1], 2)

# Função para atualizar os dados

In [5]:
def update_csv():
    invest_smart_data.to_csv('../data/invest_smart.csv', index=False)

# Adiciona valor total conforme porcentagem

In [6]:
def add_total_value(total_value):
    for ticket_action in tickets:
        invest_smart_data.loc[invest_smart_data.ticket == ticket_action, 'percentage_in_value'] = round(
            total_value * invest_smart_data.loc[invest_smart_data.ticket == ticket_action]['percentage']) / 100


add_total_value(5000)

# Calcula a quantidade de cotas possivéis para compra com base no valor por porcentagem

In [7]:
def number_of_quotes():
    for ticket_action in tickets:
        invest_smart_data.loc[invest_smart_data.ticket == ticket_action, 'number_of_quotes'] = round(
            invest_smart_data.loc[invest_smart_data.ticket == ticket_action, 'percentage_in_value'] /
            invest_smart_data.loc[invest_smart_data.ticket == ticket_action]['price'])
        
number_of_quotes()

# Atualiza a tabela com os dados

In [8]:
update_csv()